@import "variables.css";

/* ******************  Reset  ****************** */

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* ******************  Hamburguesa  ****************** */

.hamburger {
  position: fixed;
  right: 1vw;
  bottom: 1vh;
  z-index: 9999;
  background-color: var(--primary-color);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ******************  Header  ****************** */

h1.title {
  background-color: var(--primary-color);
  margin: 0;
  padding: 1rem;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
}

/* ******************  Panel  ****************** */

.panel {
  background-color: var(--secondary-color);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
}

/* ******************  Links  ****************** */

.panel a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: var(--primary-modal-color);
  font-size: 1.25rem;
  width: 100%;
  padding: 2.5rem;
  transition: all 0.35s ease;
}

.panel a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* ******************  Secciones  ****************** */

.main {
  margin-top: 6rem;
}

.main .section {
  min-height: 100vh;
  padding: 1rem 2rem;
  width: 100%;
  max-width: var(--container-width);
}

.section .title {
  text-align: center;
}
